<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kondratyonok.kondratyonok">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".KondrApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="36b9978b94509c9965c973e6b7fe57b57c537103" />
        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />
        <meta-data
            android:name="net.hockeyapp.android.appSecret"
            android:value="${HOCKEYAPP_APP_SECRET}" />
        <meta-data
            android:name="android.support.VERSION"
            android:value="27.0.2" />

        <receiver
            android:name=".service.SilentPushReceiver"
            android:exported="false">
            <intent-filter>
                <!--Получение silent push-уведомлений-->
                <action android:name="com.kondratyonok.kondratyonok.action.ymp.SILENT_PUSH_RECEIVE" />
            </intent-filter>
        </receiver>

        <activity android:name=".greeting.GreetingActivity" />
        <activity
            android:name=".launcher.ApplicationsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="fullUser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity android:name=".settings.SettingsActivity" />
        <activity
            android:name=".profile.ProfileActivity"
            android:parentActivityName=".launcher.ApplicationsActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="kondratyonok"
                    android:host="profile" />
            </intent-filter>
        </activity>

        <service android:name=".service.ApplicationsLoaderService" />
        <service
            android:name=".service.downloader.BackgroundDownloadService"
            android:enabled="true" />
    </application>

</manifest>